.cover_image {
    width: 1000px;
}

.organization_wrapper .menubar {
    margin-top: 10px;
    text-align: right;
}

tr.EditMemberRow {
    padding: 20px 5px 20px 5px;
}

ul.PermissionList li {
    padding: 10px 5px 10px 5px;
}

.project_wrapper {
    margin-left: 20px;
    width: 300px;
}

.project_wrapper .join {
    text-align: right;
}