@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/AccountStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/FancyFormStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Profilkép feltöltése";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // megadjuk az elrendezést
}

<h1 class="accountH1">Profilkép feltöltése</h1>

@using (Html.BeginForm("UploadProfileImage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <ul class="form-style-1">
        <li>
            <label>Kép<span class="required">*</span></label>
            <input type="file" name="file" accept="image/png" id="file" class="buttonlikelink blue" required />
        </li>
    </ul>

    <input type="submit" value="Feltöltés" class="buttonlikelink green" />
}
