@using ELTE.IssueR.Models

@model UserListViewModel

@{
    ViewBag.Title = "ProjectMemberAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Új tag felvétele a projekthez</h2>

@using (Html.BeginForm())
{
    @Html.DropDownList("selectedItem", new SelectList(Model.Users, "Id", "Name"))

    @Html.HiddenFor(m => m.ProjectId)

    <input type="submit" value="Hozzáad" />
}