@using ELTE.IssueR.Models;

@model List<Organization>

    @{
        ViewBag.Title = "Index";
    }

    @section AddToHead
    {
        <link href="@Url.Content("~/Content/Styles/HomeStyle.css")" rel="stylesheet" type="text/css" />
    }

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <p></p>
    @if(User.Identity.IsAuthenticated)
    { 
        <p>@Html.ActionLink("Feladatok", "Index", "Issue", new { }, new { @class = "buttonlikelink blue" })</p>
    }

    <div id="neworgpanel">
        @Html.ActionLink("+ Hozzáadom a vállalatom", "Add", "Organization", new { }, new { @class = "buttonlikelink green" })
    </div>

    <p></p>

    @Html.Partial("Partial_OrganizationTable", Model)
