
@{
    ViewBag.Title = "Index";
}

@section AddToHead
{
    <link href="@Url.Content("~/Content/Styles/HomeStyle.css")" rel="stylesheet" type="text/css" />
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index Cím</h1>

